body { background-color: #888;}
.bodycenter{
  background-color: #000;
  color: #fff;
}
@media screen and (min-width: 500px) {
  .bodycenter{
    width: 500px;
    margin: 0 auto 0 auto;
  }
}
h1 {margin: 0 1em 0.5em 1em}
div.maincontent {margin: 0 1em 0 1em;}
